Flask-Cors==4.0.2
Flask==2.3.3
Werkzeug==2.3.8
boto3==1.24.30
requests==2.32.0
urllib3==1.26.19
# Installing cryptography backend since it is the recommended one: https://pypi.org/project/python-jose/
python-jose[cryptography]==3.3.0
cryptography==43.0.1
PyYAML==6.0.2
pytest==7.2.2
pytest-mock==3.8.2
itsdangerous==2.1.2
marshmallow==3.19.0
certifi==2024.7.4
jinja2==3.1.5