Flask-Cors==6.0.2
Flask==2.3.3
Werkzeug==3.0.6
boto3==1.42.91
requests==2.33.1
urllib3==2.6.3
# Installing cryptography backend since it is the recommended one: https://pypi.org/project/python-jose/
python-jose[cryptography]==3.5.0
ecdsa==0.19.2
cryptography==46.0.7
PyYAML==6.0.3
pytest==7.4.4
pytest-mock==3.15.1
itsdangerous==2.2.0
marshmallow==3.26.2
certifi==2026.2.25
jinja2==3.1.6
